@model Model.EF.Content
@{
    var listall = (List<Model.EF.Tag>)ViewBag.TagAll;
    var listContents = (List<Model.EF.Content>)ViewBag.NewContents;
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ps-blog-grid pt-80 pb-80">
    <div class="ps-container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                <div class="ps-post--detail">
                    <div class="ps-post__thumbnail"><img src="images/blog/11.png" alt=""></div>
                    <div class="ps-post__header">
                        <h3 class="ps-post__title">@Model.Name</h3>
                        <p class="ps-post__meta">By <a href="#">@Model.CreateBy</a> on @Model.CreateDate  </p>
                    </div>
                    <div class="ps-post__content">
                        <p>  @Html.Raw(Model.Detail)</p>

                    </div>
                    <div class="ps-post__footer">

                        <p class="ps-post__tags">
                            <i class="fa fa-tags"></i>
                            @{ var tags = (List<Model.EF.Tag>)ViewBag.Tags;
                                foreach (var tag in tags)
                                {
                                    <a href="/tag/@tag.ID"> @tag.Name </a>
                                }
                            }
                        </p>

                    </div>
                </div>
               
              
             
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                        <h3>Tin mới</h3>
                    </div>
                    <div class="ps-widget__content">
                        @foreach (var item in listContents)
                        {
                            var link = "/tin-tuc/" + item.MetaTitle + "-" + item.ID;
                            <div class="ps-shoe--sidebar">
                                <div class="ps-shoe__thumbnail"><a href="@link"></a><img src="@item.Image" alt="@item.Name" class="imgnewcontent"></div>
                                <div class="ps-shoe__content">
                                    <a class="ps-shoe__title" href="@link">@item.Name</a><br />
                                    <span>@item.CreateDate</span>
                                </div>
                            </div>
                        }
                    </div>
                </aside>
                <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                        <h3>Tags</h3>
                    </div>
                    <div class="ps-widget__content">
                        <ul class="ps-tags">
                            @foreach (var item in listall)
                            {
                                <li><a href="/tag/@item.ID">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
