@model List<WebAffiliateMarketing.Models.CartItem>
<div class="ps-cart">
    <a class="ps-cart__toggle" href="#"><span><i>@Model.Count</i></span><i class="ps-icon-shopping-cart"></i></a>
    <div class="ps-cart__listing">
        <div class="ps-cart__content">
            @foreach (var item in Model)
            {
                var url = "/chi-tiet/" + item.Product.MetaTitle + "-" + item.Product.ID;
                <div class="ps-cart-item">
                    <a class="ps-cart-item__close"  data-id="@item.Product.ID"></a>
                    <div class="ps-cart-item__thumbnail"><a href="@url"></a><img src="@item.Product.Image" alt=""></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="@url">@item.Product.Name</a>
                        <p><span>Giá:<i>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</i></span></p>
                    </div>
                </div>
            }
            </div>
        <div class="ps-cart__footer"><a class="ps-btn" href="/gio-hang">Xem tất cả<i class="ps-icon-arrow-left"></i></a></div>
    </div>
</div>
