@model PagedList.IPagedList<Model.EF.Content>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@* khai báo model để lấy ds listPage   *@

<!doctype html>
<html lang="en">
<head>
    <title>Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Assets/admin/css/style_table.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Danh sách tin tức</h2>
                </div>
            </div>
            @section jsFooter{

            }
            @using (Html.BeginForm("Index", "Content", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="ps-search--header" method="post">

                        <input class="form-control" value="@ViewBag.SearchString" name="searchString" type="text" placeholder="Tìm kiếm…">
                        <button><i class="ps-icon-search"></i></button>
                    </div>
                </div>
                <br />
                <div>
                    <a class="btn btn-primary btn-lg" href="/Admin/Content/Create">Thêm mới</a>
                </div>

            }
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tiêu đề</th>
                                    <th>Hình ảnh</th>
                                    <th>Ngày đăng</th>
                                    <th>Trạng thái</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="alert" role="alert">

                                      
                                        <td>@item.Name</td>
                                        <td>@item.Image</td>
                                        <td>@item.CreateDate</td>

                                        <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status?"Kích hoạt" : "Khóa")</a></td>

                                        <td id="row_@item.ID">
                                            <a href="/Admin/Content/Edit/@item.ID">Sửa</a>
                                            |
                                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa tài khoản này không",
                                           OnComplete = "$('#row_" + item.ID + "').remove()",
                                           HttpMethod = "Delete"
                                       })

                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        @*Hiển thị thông tin trang*@
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Assets/admin/js/jquery.min.js"></script>
    <script src="~/Assets/admin/js/popper.js"></script>
    <script src="~/Assets/admin/js/bootstrap.min.js"></script>
    <script src="~/Assets/admin/js/main_table.js"></script>

</body>
</html>


