@model Model.EF.User

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    @using (Html.BeginForm("Edit", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
<div class="ps-checkout pt-80 pb-80">
    <div class="createform">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="">Đổi mật khẩu</h2>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          
            <div class="form-group">
             
                @Html.PasswordFor(model => model.ModifiedBy, new { @class = "form-control ", @placeholder = "Nhập mật khẩu cũ..." })
                @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control ", @placeholder = "Nhập mật khẩu mới..." })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control ", @placeholder = "Nhập lại mật khẩu mới..." })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>

                <div class="form-group ">
                    <div class=" ">
                        <button class="ps-btn ps-btn--gray" type="submit" value="Xác nhận">Lưu</button>
                    </div>
                </div>
               
           
            </div>

        </div>
    </div>
    </div>
    }


