@model WebAffiliateMarketing.Models.RegisterModel
@using BotDetect.Web.UI.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
@{ MvcCaptcha registerCapcha = new MvcCaptcha("registerCapcha"); }
@{
    ViewBag.Title = "Đăng ký thành viên";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="limiter">

    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <span class="login100-form-title p-b-32">
                    Đăng ký thành viên
                </span>
                <hr />
                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12" })

                    </span>
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">
                           <span class="txt1 p-b-11">@ViewBag.Success</span>
                        </div>}
                </div>

                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        <div class="wrap-input100 validate-input ">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "input100 ", @placeholder = "Nhập tài khoản..." })

                        </div>
                        <div class="form-group">
                            <span class="txt1 p-b-11">
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12 " })
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        <div class="wrap-input100 validate-input">
                            @Html.PasswordFor(model => model.Password, new { @class = "input100 ", @placeholder = "Nhập mật khẩu..." })
                            <span class="focus-input100"></span>
                        </div>
                        <div class="form-group">
                            <span class="txt1 p-b-11">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        <div class="wrap-input100 validate-input ">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input100", @placeholder = "Nhập lại mật khẩu..." })
                            <span class="focus-input100"></span>
                        </div>
                        <div class="form-group">
                            <span class="txt1 p-b-11">
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        <div class="wrap-input100 validate-input ">
                            @Html.TextBoxFor(model => model.Name, new { @class = "input100", @placeholder = "Họ và tên..." })
                            <span class="focus-input100"></span>
                        </div>
                        <div class="form-group">
                            <span class="txt1 p-b-11">
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        <div class="wrap-input100 validate-input ">
                            @Html.TextBoxFor(model => model.Address, new { @class = "input100", @placeholder = "Nhập địa chỉ..." })
                            <span class="focus-input100"></span>
                        </div>
                        <div class="form-group">
                            <span class="txt1 p-b-11">
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        <div class="wrap-input100 validate-input ">
                            @Html.TextBoxFor(model => model.Email, new { @class = "input100", @placeholder = "Email..." })
                            <span class="focus-input100"></span>
                        </div>
                        <div class="form-group">
                            <span class="txt1 p-b-11">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="txt1 p-b-11">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    </span>
                    <div class="col-md-10">
                        <div class="wrap-input100 validate-input ">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "input100", @placeholder = "Nhập số điện thoại..." })
                            <span class="focus-input100"></span>
                        </div>
                        <div class="form-group">
                            <span class="txt1 p-b-11">
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                            </span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.Captcha(registerCapcha)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        @Html.TextBox("CaptchaCode")

                    </div>
                </div>
                <br />
                <div class="form-group ">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="ps-btn ps-btn--gray" type="submit" value="Đăng ký">Đăng ký</button>
                        </div>
                    </div>

                </div>
        }
    </div>
</div>

